h1 {
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

h2 {
  color: #77acf1;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
}

.title {
  padding: 3% 10%;
}

.css-images {
  width: 30%;
  margin: 10px 10px;
}

#intro {
  background-color: #fff;
  color: black;
}

.listed-items {
  list-style-type: circle;
  text-align: left;
}

.heading {
  background-color: #0025FF;
  color: #fff;
  margin: 10px 5px;
  padding: 3% 10% 3%;
}

.container-fluid {
  padding: 3% 10% 3%;
}

.row {
  text-align: center;
}

/* referances section */
#referances {
  padding: 3% 7%;
  font-family: "Montserrat";
  background-color: #77acf1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.ref-images {
  width: 40%;
  margin: 15px 5px;
}

/* footer section*/
#footer {
  background-color: #0025FF;
  color: #fff;
  text-align: center;
  padding: 3% 7%;
}

.social-icon {
  margin: 25px 10px 5px;
}
